/*********** aciklama ***********/
html {
    background-color: #EEEEEE;
}

h1, h2 {
    font-family: 'source serif pro', serif;
    color: #0F044C;
    text-transform: uppercase;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
    color: #323e8f;
}

ul {
    list-style-position: inside;
}

ol {
    list-style-position: inside;
}

.center {
    text-align: center;
}

.header-font-family {
    font-family: 'cabin';
}

p, ul, ol {
    font-size: 14;
    color: black;
    font-family: 'cabin';
}
.fs-14 {
    font-size: 14px;
}
.fs-20 {
    font-size: 20px;
}
#first-article {
    font-size: 40px;
}